In [1]:
import pandas as pd

In [2]:
new = pd.read_excel("BOOK.xlsx")
new #EXCELDEN İMPORT İŞLEMİ

  isimler departman  maas
0   METİN   yazılım  7850
1     ALİ    finans  7500
2    AYŞE    finans  7300
3   MURAT   yazılım  6850
4  CENGİZ     hukuk  6350
5  TURGUT     hukuk  5000
6   CENİL   yazılım  4850

In [3]:
new.mean()

maas    6528.571429
dtype: float64

In [4]:
new["maas"].max()

7850

In [5]:
new.to_excel("yeni.xlsx") ##EXCELE YAZMAK EXPORT İŞLEMİ

In [6]:
#read_csv
#to_csv