In [1]:
import pandas as pd
import numpy as np

In [2]:
günler = ["PAZARTESİ","SALI","ÇARŞAMBA"]
iller = ["istanbul","ankara","izmir"]
sıcaklıklar =[[30,29,31],[20,25,31],[33,31,25]]

In [3]:
hava = list(zip(iller,sıcaklıklar))

In [4]:
hava

[('istanbul', [30, 29, 31]), ('ankara', [20, 25, 31]), ('izmir', [33, 31, 25])]

In [5]:
np.array(hava)

array([['istanbul', list([30, 29, 31])],
       ['ankara', list([20, 25, 31])],
       ['izmir', list([33, 31, 25])]], dtype=object)

In [6]:
pd.DataFrame(np.array(hava),index = günler)

                  0             1
PAZARTESİ  istanbul  [30, 29, 31]
SALI         ankara  [20, 25, 31]
ÇARŞAMBA      izmir  [33, 31, 25]

In [7]:
hava1 = {"istanbul":[20,25,np.nan],"ankara":[18,19,21],"izmir":[42,np.nan,37]}
hava1

{'istanbul': [20, 25, nan], 'ankara': [18, 19, 21], 'izmir': [42, nan, 37]}

In [12]:
pdhv= np.array(hava1)

In [16]:
pdhv

array({'istanbul': [20, 25, nan], 'ankara': [18, 19, 21], 'izmir': [42, nan, 37]},
      dtype=object)

In [17]:
pdhv.dropna()

AttributeError: 'numpy.ndarray' object has no attribute 'dropna'

In [18]:
pdhv.dropna(axis = 1) #axis =1 kolon sec demek axis = 0 satır sec demek

AttributeError: 'numpy.ndarray' object has no attribute 'dropna'

In [19]:
hava2 = {"istanbul":[20,25,np.nan],"ankara":[18,19,21],"izmir":[42,np.nan,37],"Antalya":[29,np.nan,np.nan]}
hava2

{'istanbul': [20, 25, nan],
 'ankara': [18, 19, 21],
 'izmir': [42, nan, 37],
 'Antalya': [29, nan, nan]}

In [20]:
df2 = pd.DataFrame(hava2)
df2

   istanbul  ankara  izmir  Antalya
0      20.0      18   42.0     29.0
1      25.0      19    NaN      NaN
2       NaN      21   37.0      NaN

In [21]:
# eğer belirli bir mikta ve üzeri nan olan verileri silmek istiyorsa::: THRESH KAVRAMI

In [22]:
df2.dropna(axis =1, thresh =2) #burada sadece antalya bilgileri silincek

   istanbul  ankara  izmir
0      20.0      18   42.0
1      25.0      19    NaN
2       NaN      21   37.0

In [23]:
#nan yazan her yere belirli bir değer atayabilirz.

In [24]:
df2.fillna(np.mean(df2)) #burda nan olan degerlere ortalamalarını atadım

   istanbul  ankara  izmir  Antalya
0      20.0      18   42.0     29.0
1      25.0      19   39.5     29.0
2      22.5      21   37.0     29.0