In [1]:
import numpy as np
import pandas as pd

In [2]:
ilkindeks =["simpsoon","simpsoon","simpsoon","South Park","South Park","South Park"]

In [3]:
ikinciindeks=["Homer","Barge","Marge","Cartman","Karman","Kyle"]

In [4]:
birlesmisindeks = list(zip(ilkindeks,ikinciindeks))

In [5]:
birlesmisindeks

[('simpsoon', 'Homer'),
 ('simpsoon', 'Barge'),
 ('simpsoon', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Karman'),
 ('South Park', 'Kyle')]

In [6]:
birlesmisindeks = pd.MultiIndex.from_tuples(birlesmisindeks)

In [7]:
type(birlesmisindeks)

pandas.core.indexes.multi.MultiIndex

In [8]:
listem = [[40,"A"],[30,"B"],[20,"C"],[10,"D"],[15,"F"],[25,"G"]]

In [9]:
pdframe = pd.DataFrame(np.array(listem),index = birlesmisindeks,columns =["YAS","MESLEK"])

In [10]:
pdframe

                   YAS MESLEK
simpsoon   Homer    40      A
           Barge    30      B
           Marge    20      C
South Park Cartman  10      D
           Karman   15      F
           Kyle     25      G

In [11]:
pdframe.loc["South Park"]

        YAS MESLEK
Cartman  10      D
Karman   15      F
Kyle     25      G

In [12]:
pdframe.iloc[5]

YAS       25
MESLEK     G
Name: (South Park, Kyle), dtype: object

In [13]:
pdframe.loc["South Park"].loc["Karman"]

YAS       15
MESLEK     F
Name: Karman, dtype: object

In [14]:
pdframe.index.names =["FİLMLER","İSİMLER"]

In [15]:
pdframe

                   YAS MESLEK
FİLMLER    İSİMLER
simpsoon   Homer    40      A
           Barge    30      B
           Marge    20      C
South Park Cartman  10      D
           Karman   15      F
           Kyle     25      G