In [1]:
import numpy as np 
import pandas as pd

In [2]:
#SERİES SERLER...

In [3]:
sozluk = {"atıl":50,"mehmet":40,"metin":32}

In [4]:
pd.Series(sozluk)

atıl      50
mehmet    40
metin     32
dtype: int64

In [5]:
listem = [50,40,32]
isimlerim = ["atıl","mehmet","metin"]

In [6]:
pd.Series(listem, isimlerim)

atıl      50
mehmet    40
metin     32
dtype: int64

In [7]:
pd.Series(data = isimlerim,index = listem)

50      atıl
40    mehmet
32     metin
dtype: object

In [8]:
npdizi = np.arange(0,15,2)
npdizi

array([ 0,  2,  4,  6,  8, 10, 12, 14])

In [9]:
pd.Series(npdizi)

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
dtype: int32

In [10]:
yeni = pd.Series(npdizi, ("a","b","c","d","e","f","g","h"))

In [11]:
type(yeni)

pandas.core.series.Series

In [12]:
pd.Series(["atıl","atlas","cenk"],[3,2,1])

3     atıl
2    atlas
1     cenk
dtype: object

In [13]:
yarısmasonucu = pd.Series(["atıl","atlas","osman"],[10,15,25])

In [14]:
yarısmasonucu

10     atıl
15    atlas
25    osman
dtype: object

In [15]:
yarısmasonucu2 = pd.Series([10,15,25],["atıl","atlas","osman"])

In [16]:
yarısmasonucu + yarısmasonucu2 #serilerde 4 işlem yapılır

10       NaN
15       NaN
25       NaN
atlas    NaN
atıl     NaN
osman    NaN
dtype: object

In [17]:
f1 = pd.Series([10,20,30],["a","b","c"])
f2 = pd.Series ([15,25,35],["c","a","g"])

In [18]:
f1+f2

a    35.0
b     NaN
c    45.0
g     NaN
dtype: float64

In [19]:
#YUKARIDA GÖRÜLDÜĞÜ GİBİ KESİNLESENLERİ TOPLAR DİĞERLEİRNİ NAN döndürür.